{% extends "admin/change_list.html" %}
{% load static %}

<!-- Not Showing Admin Page -->
{% block extrahead  %}<!-- !if defined v=> block content showing block in data admin page,if not define block content now showing admin page -->
    {{block.super}}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/Chart.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded',()=>{// initialize the function "init" when the page completely loads
            const ctx = document.getElementById('myChart').getContext('2d')//method returns a drawing context on the canvas, or null if the context identifier is not supported, or the canvas has already been set to a different context mode
            const chartData = {{stat_data|safe}}

            console.log('ChartData at javascript ', Object.values(chartData)[0])

            let arr = []

            for(let value of Object.values(chartData[0])){//for of always return object value,for in always return key value or index value at object or list or set
                arr.push(value)
            }

            //Aggregate calculates values for the entire queryset. Annotate calculates summary values for each item in the queryset
        
            //Settings Up Chart.js
            const chart = new Chart(ctx,{
                type:'bar',
                data:{
                    labels:['Windows','Mac','Iphone','Android','Other'],//x axes
                    datasets:[{
                        label: '# of Visits Users',
                        data: arr,
                        backgroundColor: ['rgba(255, 99, 132, 0.2)','rgba(54, 162, 235, 0.2)','rgba(116, 185, 255,0.2)','rgba(68, 189, 50,0.2)','rgba(255, 177, 66,0.2)'],
                        borderColor:['rgba(255, 99, 132, 1)','rgba(54, 162, 235, 1)'],
                        borderWidth: 2
                    }]
                },
                options: {
                    legend: {
                        labels: {
                            fontColor: "blue",
                            fontSize:15
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true//if true, scale will include 0 if it is not already included.
                            }
                        }]
                    }
                }
            })
        })
    </script>

{% endblock extrahead  %}

<!-- Showing Admin Page -->
{% block content %}

    <!-- Render our chart -->
    <div style="width:100%;">
        <canvas style="margin-bottom:30px;margin-top:10px;width: 60%; height: 50%;" id="myChart"></canvas>
    </div>
    <!-- Render the rest of the ChangeList view -->
    {{block.super}}
{% endblock content %}